//// @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 1000;
    font-style: normal; 
}
  
@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 1000; 
    font-style: italic; 
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SETTING THE COLOR VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
  
:root {
    --accent-color: #5550b7;
    
    // Variables related to colors and styling
    --background-background-color-dark: #000000;
    --background-color-dark: #303030;
    --title-color-dark: #FFFFFF;
    --color-dark: #808080;
    --layer-0-dark: #404040;

    --background-background-color-light: #e6e7eb;
    --background-color-light: #FFFFFF;
    --title-color-light: #000000;
    --color-light: #808080;
    --layer-0-light: #d9d4dc;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SETTING THE VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

:root {
    --background-background-color: var(--background-background-color-dark);
    --background-color: var(--background-color-dark);
    --title-color: var(--title-color-dark);
    --color: var(--color-dark);
    --layer-0: var(--layer-0-dark);
}
@media (prefers-color-scheme: light) {
    :root {
        --background-background-color: var(--background-background-color-light);
        --background-color: var(--background-color-light);
        --title-color: var(--title-color-light);
        --color: var(--color-light);
        --layer-0: var(--layer-0-light);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-background-color: var(--background-background-color-dark);
        --background-color: var(--background-color-dark);
        --title-color: var(--title-color-dark);
        --color: var(--color-dark);
        --layer-0: var(--layer-0-dark);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SETTING THE DEFAULTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

* {
    // Text : Color, Font-Family, Font-Size, Alignment, Background
    color: var(--color);
    font-family: "Lora", serif;
    font-size: var(--font-size);
    font-optical-sizing: auto;
    font-style: normal;
    // Size : width, Height
    // Spacing : Margin, Padding
    margin: 0;
    padding: 0;
    // Rendering : Display, Position, 
    // Other
    box-sizing: border-box;
    accent-color: var(--accent-color);
}

// Hidding the Scrollbar
* { overflow: -moz-scrollbars-none; -ms-overflow-style: none; scrollbar-width: none; }
*::-webkit-scrollbar { display: none; }

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ STYLING THE HTML ELEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

:root {
    --content-width: 100%;
    --content-max-width: 1520em;
}

html {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background-background-color);

    .App {
        background-color: var(--background-color);
        max-width: var(--content-max-width);
        margin: 0 auto;
        min-height: 100vh;
        border: solid 1px var(--color);
        border-top: none;
        border-bottom: none;
        display: grid;
        grid-template-rows: auto 1fr auto;
    
        main {
            padding: 0 20% 3rem 20%;
        }
    
        header, footer {
            background-color: var(--layer-0);
            padding: 1em 10vw;
        }

        footer {
            
            img {
                display: none;
            }

            #footer-text {
                display: block;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
                grid-gap: 1em;

                li {
                    width: fit-content;
                    list-style: none;
                }
            }
        }
    }
}

// @media screen and (min-width: 550px) {
//     html {
//         .App {
//             footer {
//                 display: grid;
//                 grid-template-columns: auto auto auto;
//                 gap: 1em 3em;
    
//                 #footer-text {
//                     display: flex;
//                     align-items: center;
    
//                     * {
//                         margin: auto;
//                     }
//                 }
    
//                 ul {
//                     display: flex;
//                     align-items: center;
//                     flex-direction: column;
    
//                     li {
//                         display: block;
//                         width: 100%;
//                         list-style: none;
//                         margin: auto;
//                     }
//                 }
//             }
//         }
//     }
// }

:root { 
    --font-size: 14px;
    --title-font-starter-size: calc( var(--font-size) * 3 );
    --title-font-step-down-size: calc( var(--font-size) / 4 );
}

h1 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 1 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 1 );}
h2 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 2 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 2 );}
h3 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 3 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 3 );}
h4 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 4 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 4 );}
h5 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 5 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 5 );}
h6 { font-size: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 6 );
    margin-top: calc( var(--title-font-starter-size) - var(--title-font-step-down-size) * 6 );}
    

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: fit-content;
}

p {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: fit-content;
    max-width: 800px;
}

a {
    text-decoration: none;
    color: var(--accent-color);
} a:hover {
    text-decoration: underline;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ STYLING THE HTML ELEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//

div.map-container {
    @extend .bordered;

    aspect-ratio: 1/1;
    background-color: #808080;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.bordered {
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    margin: 2em auto;
    padding: 1em
}

.success {
    @extend .bordered;

    border-color: green;
    background-color: lightgreen;
    color: green;
    width: fit-content;
}

.loading {
    @extend .bordered;

    border-color: orange;
    background-color: yellow;
    color: orange;
    width: fit-content;
}

.failed {
    @extend .bordered;

    border-color: red;
    background-color: coral;
    color: red;
    width: fit-content;
}