:root {
  --accent-color: #5550b7;
  --background-background-color-dark: #000000;
  --background-color-dark: #303030;
  --title-color-dark: #FFFFFF;
  --color-dark: #808080;
  --layer-0-dark: #404040;
  --background-background-color-light: #e6e7eb;
  --background-color-light: #FFFFFF;
  --title-color-light: #000000;
  --color-light: #808080;
  --layer-0-light: #d9d4dc;
}

:root {
  --background-background-color: var(--background-background-color-dark);
  --background-color: var(--background-color-dark);
  --title-color: var(--title-color-dark);
  --color: var(--color-dark);
  --layer-0: var(--layer-0-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-background-color: var(--background-background-color-light);
    --background-color: var(--background-color-light);
    --title-color: var(--title-color-light);
    --color: var(--color-light);
    --layer-0: var(--layer-0-light);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-background-color: var(--background-background-color-dark);
    --background-color: var(--background-color-dark);
    --title-color: var(--title-color-dark);
    --color: var(--color-dark);
    --layer-0: var(--layer-0-dark);
  }
}
* {
  color: var(--color);
  font-family: monospace;
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: var(--accent-color);
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --content-width: 100%;
  --content-max-width: 1520em;
}

html {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-background-color);
}
html .App {
  background-color: var(--background-color);
  max-width: var(--content-max-width);
  margin: 0 auto;
  min-height: 100vh;
  border: solid 1px var(--color);
  border-top: none;
  border-bottom: none;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
html .App main {
  padding: 0 20% 3rem 20%;
}
html .App header, html .App footer {
  background-color: var(--layer-0);
  padding: 1em 10vw;
}
html .App footer img {
  display: none;
}
html .App footer #footer-text {
  display: block;
}
html .App footer ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}
html .App footer ul li {
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

:root {
  --font-size: 14px;
  --title-font-starter-size: calc( var(--font-size) * 3 );
  --title-font-step-down-size: calc( var(--font-size) / 4 );
}

h1 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 1);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 1);
}

h2 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 2);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 2);
}

h3 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 3);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 3);
}

h4 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 4);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 4);
}

h5 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 5);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 5);
}

h6 {
  font-size: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 6);
  margin-top: calc(var(--title-font-starter-size) - var(--title-font-step-down-size) * 6);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: -moz-fit-content;
  width: fit-content;
}

p {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: -moz-fit-content;
  width: fit-content;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

div.map-container {
  aspect-ratio: 1/1;
  background-color: #808080;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bordered, .failed, .loading, .success, div.map-container {
  border-radius: 15px;
  border-width: 3px;
  border-style: solid;
  margin: 2em auto;
  padding: 1em;
}

.success {
  border-color: green;
  background-color: lightgreen;
  color: green;
  width: -moz-fit-content;
  width: fit-content;
}

.loading {
  border-color: orange;
  background-color: yellow;
  color: orange;
  width: -moz-fit-content;
  width: fit-content;
}

.failed {
  border-color: red;
  background-color: coral;
  color: red;
  width: -moz-fit-content;
  width: fit-content;
}