.map-container {
    // Text : Color, Font-Family, Font-Size, Alignment, Background
    background-color: var(--layer-0-background-color);
    // Size : width, Height
    width: 80% !important;
    // Spacing : Margin, Padding
    margin-top: var(--default-top-margin);
    // Border : style, color, width, radius
    border-radius: var(--border-radius);
    // Rendering : Display, Position, 
    position: relative;
    // Other
    overflow: hidden;
    aspect-ratio: 1/1;

    div.loading-map {
        //// @extend .strip;
        // Text : Color, Font-Family, Font-Size, Alignment, Background
        background: linear-gradient(135deg, #ff670f 0%, #ff670f 20%, #ffffff 50%, #0eea57 80%, #0eea57 100%);
        background: -webkit-linear-gradient(135deg, #ff670f 0%, #ff670f 20%, #ffffff 50%, #0eea57 80%, #0eea57 100%);
        // Size : width, Height
        width: 300%;
        height: 300%;
        // Spacing : Margin, Padding
        // Border : style, color, width, radius
        // Rendering : Display, Position, 
        position: absolute;
        // Other
        z-index: -1;
        animation: moveGradient 5s infinite;
        -webkit-animation: moveGradient 5s infinite;
    }

    div.map-message {
        // Text : Color, Font-Family, Font-Size, Alignment, Background
        // Size : width, Height
        width: 100%;
        height: 100%;
        // Spacing : Margin, Padding
        // Border : style, color, width, radius
        // Rendering : Display, Position, 
        display: flex;
        // Other
        align-items: center;
        justify-content: center;
    }
}

@keyframes moveGradient {
    0% { background-position: -200% -200%; }
    50% { background-position: 0% 0%; }
    100% { background-position: -200% -200%; }
    // 0% { left: -200%; top: -200%; }
    // 50% { left: 0%; top: 0%; }
    // 100% { left: -200%; top: -200%; }
}

// .strip {
//     background: linear-gradient(to bottom right, red, blue);
//     animation: moveGradient 0.5s linear infinite;
// }
  
//   @keyframes moveGradient {
//     0%        { background-position: 0%   0%;   }
//     100%      { background-position: 100% 100%; }
//     // 50%       { background-position: 100% 100%; }
//     // 51%, 100% { background: none;               }
// }
