style script {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html {
    & > body {
        background-color: #808080;
        width: 100vw;
        height: 100vh;

        & > * {
            background-color: #fff;
            max-width: 80em;
            width: 100%;
            margin: 0 auto;
            display: block;
        }

        main, footer, header {

            display: block;

            & > * {
                margin: 0 auto;
                width: fit-content;
                max-width: 80%;
                text-align: justify;
            }
        }
    }
}