main#main-content {

    & > section#Pirates-of-the-Caribbean-At-Campus-End {

        & > img#site-icon {
            max-width: 80%;
            padding: 10%;
        }
    }
}
footer#footer {
    padding: 2em;
}