main#main-content {

    padding-top: 5em;

    & > section#Pirates-of-the-Caribbean-At-Campus-End {

        & > img#site-icon {
            max-width: 80%;
            padding: 10%;
        }
    }
}
footer#footer {
    
    padding-top: 5em;

    p#copyright-notice {
        padding: 2em;
    }
}